<div>
    <div style="margin-left: 300px">
        <div >
            <a href="http://www.heao.com.cn/main/html/">河南省招生考试信息网</a>
            <a href="http://www.moe.gov.cn/">中国教育部</a>
            <a href="http://www.baidu.com/">百度</a>
            <a href="http://www.app371.com/">云互联</a>
            <a href="https://www.qq.com/">腾讯</a>
        </div>
    </div>
    <div>
        <div>
            <img src="" alt="">
            <span>云智选</span>
        </div>
        <div>
            <span>登录</span>
            "/"
            <span>注册</span>
        </div>
    </div>
    <div>

    </div>
</div>
