<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="__CDN__/assets/css/element.css">
    <title>TestBatch</title>
</head>
<body>
<div id="app">
    <div v-show="show_table">
        <el-form ref="form"
                 :model="form"
                 label-width="100px"
                 :rules="formRules"
        >
            <div v-show="input_show">
                <el-row>
                    <el-col :span="3">
                        <el-form-item label="分数"  prop="score">
                            <el-input
                                    v-model="form.score"
                                    placeholder="请输入分数"
                                    :disabled=form.region
                            ></el-input>
                        </el-form-item>
                    </el-col>
<!--                    <el-col :span="3">-->
<!--                        <el-form-item label="位次"  prop="rank" >-->
<!--                            <el-input-->
<!--                                    v-model="form.rank"-->
<!--                                    placeholder="请输入位次"-->
<!--                                    :disabled=form.region-->
<!--                            ></el-input>-->
<!--                        </el-form-item>-->
<!--                    </el-col>-->
                    <el-col :span="3">
                        <el-form-item label="年份">
                            <el-select v-model="form.year" placeholder="请选择年份" :disabled=form.region>
                                <el-option label="2017" value="2017"></el-option>
                                <el-option label="2018" value="2018"></el-option>
                                <el-option label="2019" value="2019"></el-option>
                                <el-option label="2020" value="2020"></el-option>
                            </el-select>
                        </el-form-item>
                    </el-col>
                    <el-col :span="3">
                        <el-form-item label="文科/理科" prop="type">
                            <el-select v-model="form.type" placeholder="请选择文科/理科" :disabled=form.region>
                                <el-option label="理科" value="reason"></el-option>
                                <el-option label="文科" value="culture"></el-option>
                            </el-select>
                        </el-form-item>
                    </el-col>
                    <el-col :span="8">
                        <el-form-item  label="批次">
                            <el-select
                                    v-model="form.batch"
                                    multiple
                                    placeholder="请选择批次"
                                    @click.native="getBatchInfo()"
                            >
                                <el-option
                                        v-for ="item in show.batch_name_info"
                                        :key  ="item.batch_value"
                                        :label="item.batch_name"
                                        :value="item.batch_value"
                                >
                                </el-option>
                            </el-select>
                        </el-form-item>
                    </el-col>
                </el-row>
            </div>
            <div v-show="show_add">
                <el-row>
                    <el-col :span="6">
                        <el-form-item label="专业" >
                            <el-select
                                    style="width: 100%"
                                    :debounce="0"
                                    value-key="profession_name"
                                    placeholder="请输入或选择专业（默认本科专业）"
                                    v-model="state_profession"
                                    :disabled=form.profession_region
                                    multiple
                                    filterable
                            >
                                <el-option
                                        v-for ="item in show.profession_name_info"
                                        :key  ="item.id"
                                        :label="item.profession_name"
                                        :value="item.profession_name"
                                >
                                </el-option>
                            </el-select>
                        </el-form-item>
                    </el-col>
                    <el-col :span="8">
                        <el-form-item label="院校名称"
                        >
                            <el-select
                                    style="width: 100%"
                                    v-model="state_school"
                                    multiple
                                    filterable
                                    placeholder="请输入或选择院校名称"
                            >
                                <el-option
                                        v-for ="item in show.school_name_info"
                                        :key  ="item.school_num"
                                        :label="`${item.school_name},${item.batch}批次`"
                                        :value="`${item.school_num},${item.school_name},${item.batch}`"
                                >
                                </el-option>
                            </el-select>
                            <el-alert
                                    v-show="show_warn"
                                    title="请以招生简介为准"
                                    type="warning"
                                    show-icon>
                            </el-alert>
                        </el-form-item>
                    </el-col>
                    <el-col :span="4">
                        <el-form-item label="办学类型" >
                            <el-select
                                    v-model="checked_school_type"
                                    multiple
                                    placeholder="请选择办学类型"

                            >
                                <el-option
                                        v-for ="(item,index) in show.school_type_name_info"
                                        :key  ="item.school_type_num"
                                        :value="item.school_type_name"
                                        :label="item.school_type_name"
                                >
                                </el-option>
                            </el-select>
                        </el-form-item>
                    </el-col>
                    <el-col :span="4">
                        <el-form-item label="省份"  >
                            <el-select
                                    v-model="checked_province"
                                    multiple
                                    filterable
                                    placeholder="请选择省份"
                            >
                                <el-option
                                        v-for ="item in show.province_name_info"
                                        :key  ="item.id"
                                        :label="item.school_province"
                                        :value="item.school_province"
                                >
                                </el-option>
                            </el-select>
                        </el-form-item>
                    </el-col>
                </el-row>
                <el-form-item>
                    <div v-show="switch_show_more">
                        <el-switch
                                v-model="show_more"
                                inactive-text="显示当年信息"
                                @change="show_more_year"
                                :disabled=submit_style
                        >
                        </el-switch>
                    </div>
                </el-form-item>
            </div>
            <el-form-item>
                <el-button @click="onSubmit" id="button" :disabled=submit_style >确定</el-button>
                <el-button>取消</el-button>
            </el-form-item>
            <div >
                <a href="/index/test/test">下载保存到本地</a>
                <el-button @click="onExcel"  :disabled=submit_style >下载保存到本地</el-button>
            </div>
        </el-form>
    </div>
    <div v-show="show_data">
        <template>
            <div
                :data="show_info"
                style="width: 100%"
                v-for="(pass_info,batch_name) in show_info"
            >
                <div>
                    <p style="text-align: center;font-size: 40px; ">{{batch_name}}</p><!--批次名称-->
                </div>

                <div
                    :data="pass_info"
                    style="width: 100%"
                    v-for="(info,index) in pass_info"
                >
                <div>
                    <p style="text-align: center;">{{index}}</p><!--省份名称-->
                </div>
                    <el-table
                        :data="info"
                        style="width: 100%"
                        :cell-style="cellStyle"
                    >
                        <el-table-column type="expand">
                            <template slot-scope="props">
                                <el-form
                                        label-position="left"
                                        inline class="demo-table-expand"
                                >
                                    <el-form-item label="院校名称：">
                                        <span>{{ props.row.school_name }}</span>
                                    </el-form-item>
                                    <el-form-item label="院校代码：">
                                        <span>{{ props.row.school_num }}</span>
                                    </el-form-item>
                                    <el-form-item label="本科/专科：">
                                        <span>{{ props.row.school_nature }}</span>
                                    </el-form-item>
                                    <el-form-item label="公办/民办：">
                                        <span>{{ props.row.school_type }}</span>
                                    </el-form-item>
                                    <el-form-item label="所在省份：">
                                        <span>{{ props.row.school_province }}</span>
                                    </el-form-item>
                                    <el-form-item label="所在市：">
                                        <span>{{ props.row.school_city }}</span>
                                    </el-form-item>
                                </el-form>
                                <el-table
                                        ref="multipleTable"
                                        :data="props.row.show_year"
                                        style="width: 100%"
                                >
                                    <el-table-column prop="the_year" label="年份"></el-table-column>
                                    <el-table-column prop="plan" label="计划"></el-table-column>
                                    <el-table-column prop="admit" label="实际"></el-table-column>
                                    <el-table-column prop="fraction_max" label="最高分"></el-table-column>
                                    <el-table-column prop="fraction_min" label="最低分"></el-table-column>
                                    <el-table-column prop="msd" label="最低分与分数线差值"></el-table-column>
                                    <el-table-column prop="ler" label="录取最低分位次"></el-table-column>
                                    <el-table-column prop="tas" label="平均分"></el-table-column>
                                    <el-table-column prop="dbas" label="平均分与分数线差值"></el-table-column>
                                </el-table>
                            </template>
                        </el-table-column>
                        <el-table-column
                                label="院校名称"
                        >
                            <template slot-scope="props">
                                <span>{{ props.row.school_name }}</span>
                            </template>
                        </el-table-column>
                        <el-table-column
                                label="院校代码"
                        >
                            <template slot-scope="props">
                                <span>{{ props.row.school_num }}</span>
                            </template>
                        </el-table-column>
                        <el-table-column
                                label="公办/民办"
                        >
                            <template slot-scope="props">
                                <span>{{ props.row.school_type }}</span>
                            </template>
                        </el-table-column>
                        <el-table-column
                                label="省份"
                        >
                            <template slot-scope="props">
                                <span>{{ props.row.school_province }}</span>
                            </template>
                        </el-table-column>
                    </el-table>
                </div>
            </div>
        </template>
    </div>
    <div v-show="show_select_data">
        <template>
            <div
                    :data="show_select_info"
                    style="width: 100%"
                    v-for="(info,index) in show_select_info"
            >
                <div>
                    <p style="text-align: center">{{index}}</p>
                </div>
                <el-table
                        :data="info"
                        style="width: 100%"
                        :cell-style="cellStyle"
                >
                    <el-table-column type="expand">
                        <template slot-scope="props">
                            <el-form
                                    label-position="left"
                                    inline class="demo-table-expand"
                            >
                                <el-form-item label="院校名称">
                                    <span>{{ props.row.school_name }}</span>
                                </el-form-item>
                                <el-form-item label="院校代码">
                                    <span>{{ props.row.school_num }}</span>
                                </el-form-item>
                                <el-form-item label="本科/专科">
                                    <span>{{ props.row.school_nature }}</span>
                                </el-form-item>
                                <el-form-item label="公办/民办">
                                    <span>{{ props.row.school_type }}</span>
                                </el-form-item>
                                <el-form-item label="所在省份">
                                    <span>{{ props.row.school_province }}</span>
                                </el-form-item>
                                <el-form-item label="所在市">
                                    <span>{{ props.row.school_city }}</span>
                                </el-form-item>
                            </el-form>
                            <el-table
                                    ref="multipleTable"
                                    :data="props.row.show_year"
                                    style="width: 100%"
                            >
                                <el-table-column prop="the_year" label="年份"></el-table-column>
                                <el-table-column prop="plan" label="计划"></el-table-column>
                                <el-table-column prop="admit" label="实际"></el-table-column>
                                <el-table-column prop="fraction_max" label="最高分"></el-table-column>
                                <el-table-column prop="fraction_min" label="最低分"></el-table-column>
                                <el-table-column prop="msd" label="最低分与分数线差值"></el-table-column>
                                <el-table-column prop="ler" label="录取最低分位次"></el-table-column>
                                <el-table-column prop="tas" label="平均分"></el-table-column>
                                <el-table-column prop="dbas" label="平均分与分数线差值"></el-table-column>
                            </el-table>
                        </template>
                    </el-table-column>
                    <el-table-column
                            label="院校名称"
                    >
                        <template slot-scope="props">
                            <span>{{ props.row.school_name }}</span>
                        </template>
                    </el-table-column>
                    <el-table-column
                            label="院校代码"
                    >
                        <template slot-scope="props">
                            <span>{{ props.row.school_num }}</span>
                        </template>
                    </el-table-column>
                    <el-table-column
                            label="公办/民办"
                    >
                        <template slot-scope="props">
                            <span>{{ props.row.school_type }}</span>
                        </template>
                    </el-table-column>
                    <el-table-column
                            label="省份"
                    >
                        <template slot-scope="props">
                            <span>{{ props.row.school_province }}</span>
                        </template>
                    </el-table-column>
                </el-table>
            </div>
        </template>
    </div>
</div>
</body>
<script src="__CDN__/assets/js/vue.js"></script>
<script src="__CDN__/assets/js/index.js"></script>
<script src="__CDN__/assets/js/jquery.js"></script>
<script>
    new Vue({
        el: '#app',
        data: function() {
            return {
                form: {
                    score: '',      //分数值
                    batch: [],      //批次值
                    type: '',       //文科理科值
                    year: '',       //年份值
                    rank: '',       //位次
                    the_show_year       : '',      //年份值（swich开关单独使用
                    show_info           : '',      //
                    region              :false,    //是否可用
                    profession_region   :false     //是否可用（专业单独使用
                },
                show_more           :false,             //switch开关用于是否显示当年的数据
                switch_show_more    :false,             //控制开关是否显示
                submit_style        :false,             //控制开关是否显示
                //输入信息的js验证
                formRules: {
                    score: [
                        {required: true, message: '请输入分数', trigger: 'blur'},
                        {min: 1, max: 6, message: '请输入正确分数', trigger: 'blur'},
                        {pattern :/^([1-9][0-9]{0,2})(\.([0-9]{0,1})[1-9])?$/,message: '请输入正确的分数'},
                    ],
                    rank: [
                        {required: true, message: '请输入位次', trigger: 'blur'},
                        {min: 1, max: 6, message: '请输入正确位次', trigger: 'blur'},
                        {pattern :/^[1-9]{1}[0-9]*$/,message: '请输入正确的位次'},
                    ],
                    type: [
                        {required: true, },
                    ],
                    batch: [
                        {required: true, },
                    ],
                    year: [
                        {required: true, },
                    ],
                },
                province_index      : '' ,     //省份id值
                show_table          : true ,   //条件搜索的div，默认为true不改变
                show_data           : true ,   //条件搜索的div，默认为false普通搜索之后改为true
                show_select_data    : false,   //附加条件搜索的div，默认为false筛选搜索之后改为true
                show_add            : true ,   //附加条件筛选的div，默认为false普通搜索之后改为true
                show_warn           : false,   //当选择的学校名称中带有（）的将专业设为禁止选择和为空，在搜索的学校下方弹出提示语句
                input_show          : true ,   //输入搜索条件的div，默认为true不改变
                info                : [] ,     //PHP页面传参的值（搜索的数据未进行省份处理）
                show_info           : [] ,     //普通搜索之后的用来展示的数据
                show_select_info    : [] ,     //加筛选条件搜索之后的用来展示的数据
                state_profession    : [] ,     //专业框输入的或者选中的数据
                state_school        : [] ,     //学校框输入的或者选中的数据
                checked_province    : [] ,     //省份框输入的或者选中的数据
                checked_school_type : [] ,     //学校类型框输入的或者选中的数据
                all:{
                    profession_name_info    : [],       //专业名称，后台获取
                    province_name_info      : [],       //省份名称，后台获取
                    school_type_name_info   : [],       //学校类型名称，后台获取
                    school_name_info        : [],       //学校名称，后台获取
                    batch_name_info         : JSON.parse('{$all_batch_name_info}'),     //批次名称，后台获取
                },
                show:{
                    profession_name_info    : [],       //专业名称，后台获取
                    province_name_info      : [],       //省份名称，后台获取
                    school_type_name_info   : [],       //学校类型名称，后台获取
                    school_name_info        : [],       //学校名称，后台获取
                    batch_name_info         : JSON.parse('{$all_batch_name_info}'),     //批次名称，后台获取
                },
                batch_num       :[],                    //用于记录当前搜索的信息中的批次
            }
        },
        methods: {
            onSubmit() {
                var _this = this   //很重要！！
                var reg =/^([1-9][0-9]{0,2})(\.([0-9]{0,1})[1-9])?$/;
                var n = reg.test(_this.form.score)
                if( _this.form.score < 180 ) {
                    alert('抱歉，请输入正确的分数，');return;
                }
                if(!n){
                    alert('请输入正确的分数');return;
                }
                // _this.submit_style = true;
                var state_profession = '';
                if(!_this.state_profession.length ==0) {
                    state_profession=this.state_profession;
                }
                var state_school = '';
                if(!_this.state_school.length ==0) {
                    state_school=this.state_school;
                }
                var checked_province = '';
                if(!this.checked_province.length == 0) {
                    checked_province = this.checked_province;
                }
                var checked_school_type = '';
                if(!this.checked_school_type.length == 0) {
                    checked_school_type = this.checked_school_type;
                }
                var batch = '';
                if(!this.form.batch.length == 0) {
                    batch = this.form.batch;
                }
                //查询当前输入的分数，批次，文理科，年份
                $.post('/index/batch/get_ajax_info', {
                    'score' :   this.form.score ,
                    'batch' :   batch ,
                    'type'  :   this.form.type,
                    'year'  :   this.form.year,
                    'rank'  :   this.form.rank,
                    'the_show_year'         :   this.form.the_show_year,
                    'state_profession'      :   state_profession,
                    'state_school'          :   state_school,
                    'checked_province'      :   checked_province,
                    'checked_school_type'   :   checked_school_type,
                    async: true,
                }, function (response) {
                    if(response['code']==2){
                        _this.show_data =false;
                        _this.show_add  =true;
                        _this.show_select_data = false;
                        alert(response['message']);return ;
                    }
                    if(response['code']==1){
                        console.log(response.info)
                        _this.switch_show_more = true;
                        _this.form.region = true;
                        _this.form.profession_region = false;
                        _this.info = response.info;
                        _this.show.profession_name_info  = response.profession_name;
                        _this.show.province_name_info    = response.province_name;
                        _this.show.school_type_name_info = response.school_type;
                        _this.show.school_name_info      = response.school_name;
                        _this.batch_num = response.batch_num;
                        _this.show_add = true;
                        _this.show_select_data = false;
                        _this.show_info = response.show_info;
                        _this.show_data = true;
                        _this.show_warn = false;
                        // _this.submit_style = false;
                    }
                });
                return
            },
            //根据color字段更改文字颜色
            cellStyle(row,column,rowIndex,columnIndex){
                if( row.row.color === 'red' ){
                    return 'color:red'
                }else if( row.row.color === 'blue' ){
                    return 'color:blue'
                }else if( row.row.color === 'green' ){
                    return 'color:green'
                }
            },
            //switch开关，显示当前选择的年份显示与否
            show_more_year(val){
                var _this       = this;
                var year        = _this.form.year;
                var show_more   = _this.show_more;
                if( show_more ) {
                    _this.form.the_show_year = year;
                }else {
                    _this.form.the_show_year = '';
                }
                console.log( _this.form.the_show_year )
                _this.onSubmit();
            },
            //获取基础显示数据，批次，
            getBatchInfo() {
                var _this = this;
                if( !_this.form.score && !_this.form.type && !_this.form.year ) {
                    return ;
                }
                _this.linkage=false;
                $.post('/index/batch/check_batch', {
                    'score': _this.form.score ,
                    'type' : _this.form.type,
                    'year' : _this.form.year,
                }, function ( response ) {
                    if( response.batch_code == 8 ) {
                        alert(response.message);
                        _this.show.batch_name_info = [];
                        return
                    }
                    _this.show.batch_name_info = response.batch_data;
                });
            },
            getSelectAllInfo() {
                var _this = this;
                $.post('/index/batch/getSelectAllInfo', {
                }, function (response) {
                    _this.all.profession_name_info      = response.all_profession_name_info;
                    _this.all.province_name_info        = response.all_province_name_info;
                    _this.all.school_type_name_info     = response.all_school_type_name_info;
                    _this.all.school_name_info          = response.all_school_name_info;

                    _this.show.profession_name_info     = response.all_profession_name_info;
                    _this.show.province_name_info       = response.all_province_name_info;
                    _this.show.school_type_name_info    = response.all_school_type_name_info;
                    _this.show.school_name_info         = response.all_school_name_info;
                });
            },
            onExcel() {
                $.post('/index/test/test', {
                }, function () {
                });
            },
        },

        mounted() {
            this.getSelectAllInfo();
        }
    })
</script>
</html>


